{% extends "base2.html" %}
{% block content %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled (Backup 1614519226161)</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
</head>

<body>
  <div class="intro">
      <h1 class="text-center">{{ group_id.groupname }} Dashboard</h1>
  </div>
  <div class="row">
      <div class="col-md-6 col-xl-3 mb-4">
          <div class="card shadow border-left-primary py-2">
              <div class="card-body">
                  <div class="row align-items-center no-gutters">
                      <div class="col mr-2">
                          <div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>Latest Assignment</span></div>
                          <div class="text-dark font-weight-bold h5 mb-0"><span>{{ tasks.first().TaskName }}</span></div>
                      </div>
                      <div class="col-auto"><i class="fas fa-calendar fa-2x text-gray-300"></i></div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-6 col-xl-3 mb-4">
          <div class="card shadow border-left-warning py-2">
              <div class="card-body">
                  <div class="row align-items-center no-gutters">
                      <div class="col mr-2">
                          <a href="{{ url_for('dash.viewusers', group_id=current_user.group_id) }}" class="text-uppercase text-warning font-weight-bold text-xs mb-1"><span>Members in Group</span></a>
                          <div class="text-dark font-weight-bold h5 mb-0"><span>{{ ammount.count() }}</span></div>
                      </div>
                      <div class="col-auto"><i class="fas fa-comments fa-2x text-gray-300"></i></div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-6 col-xl-3 mb-4">
          <div class="card shadow border-left-info py-2">
              <div class="card-body">
                  <div class="row align-items-center no-gutters">
                      <div class="col mr-2">
                          <div class="text-uppercase text-info font-weight-bold text-xs mb-1"><span>Progress on all Tasks</span></div>
                          <div class="row no-gutters align-items-center">
                              <div class="col-auto">
                                  <div class="text-dark font-weight-bold h5 mb-0 mr-3"><span>{{ 100 - taskpercentage }}%</span></div>
                              </div>
                              <div class="col">
                                  <div class="progress progress-sm">
                                      <div class="progress-bar bg-info" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: {{ 100 - taskpercentage }}%;"><span class="sr-only">50%</span></div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="col-auto"><i class="fas fa-clipboard-list fa-2x text-gray-300"></i></div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-6 col-xl-3 mb-4">
          <div class="card shadow border-left-warning py-2">
              <div class="card-body">
                  <div class="row align-items-center no-gutters">
                      <div class="col mr-2">
                          <a href="{{ url_for('dash.taskviewcompleted', group_id=current_user.group_id) }}" class="text-uppercase text-warning font-weight-bold text-xs mb-1"><span>View Completed Tasks</span></a>
                          <div href="{{ url_for('dash.new_task', group_id=current_user.group_id) }}" class="text-dark font-weight-bold h5 mb-0 mr-3"><a class="text-dark font-weight-bold" href="#">Create Task</a></div>
                      </div>
                      <div class="col-auto"><i class="fas fa-comments fa-2x text-gray-300"></i></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Task Name</th>
                    <th>Task Author</th>
                    <th>Date Posted</th>
                    <th>Comments</th>
                    <th>Files Attached</th>
                    <th>Task Details</th>
                </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                <tr>
                    <td href="">{{ task.TaskName }}</td>
                    <td href="">{{ task.author.username }}</td>
                    <td href="">{{ task.date_posted }}</td>
                    <td href="">{{ comments.query.filter_by(group_id=current_user.group_id, task_id=task.id).count() }}</td>
                    <td href="">{{ files.query.filter_by(group_id=current_user.group_id, task_id=task.id).count() }}</td>
                    <td href=""><a href="{{ url_for('dash.viewtask', group_id=current_user.group_id, task_id= task.id) }}" class="btn btn-link btn-sm font-weight-bold h5 mb-0">View Task</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/bs-init.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="{{ url_for('static', filename='js/theme.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
</body>
{% endblock content %}
