{% extends "base2.html" %}
{% block content %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Article-List.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Features-Clean.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Footer-Basic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Header-Blue.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <header class="header-blue" style="color: var(--light);background: var(--light);">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 col-xl-5 offset-xl-1 hero">
                    <h1 style="background: rgba(0,0,0,0.0);color: var(--gray-dark);">Spitfire Remote Working</h1>
                    <p style="color: var(--dark);">Spitfire is a remote working tool designed for use by small teams, businesses and anything between. Created as an A-Level coursework project.  </p>
                    {% if current_user.is_authenticated %}
                    <a class="btn btn-light btn-lg action-button" type="button" href="{{ url_for('dash.taskview', group_id=current_user.group_id) }}" style="border-color: var(--blue);background: var(--blue);">Go to Dashboard</a>
                    {% else %}
                    <a class="btn btn-light btn-lg action-button" type="button" href="{{ url_for('base.about') }}" style="border-color: var(--blue);background: var(--blue);">Learn More</a>
                    {% endif %}
                </div>
                <div class="col-md-5 col-lg-5 offset-lg-1 offset-xl-0 d-none d-lg-block phone-holder"><img src="{{ url_for('static', filename='img/undraw_quitting_time_dm8t.svg') }}" style="width: 550px;height: 600px;">
                </div>
            </div>
        </div>
        <section class="article-list">
            <div class="container">
                <div class="intro">
                    <h2 class="text-center">App Developments and News</h2>
                </div>
                <div class="intro">
                    <p class="text-center"></p>
                </div>
                <div class="row articles">
                    <div class="col-sm-6 col-md-4"><a href="#"></a>
                      <h3 class="name">{{ posts1.title }}</h3>
                      <p class="description">{{ posts1.content }}</p>
                    </div>
                    <div class="col-sm-6 col-md-4"><a href="#"></a>
                        <h3 class="name">{{ posts2.title }}</h3>
                        <p class="description">{{ posts2.content }}</p>
                    </div>
                    <div class="col-sm-6 col-md-4"><a href="#"></a>
                      <h3 class="name">{{ posts3.title }}</h3>
                      <p class="description">{{ posts3.content }}</p>
                    </div>
                    <div class="mx-auto">
                      <a class="btn btn-light action-button" type="button" href="{{ url_for('posts.news') }}" style="border-color: var(--blue);background: var(--blue);">All Posts</a>
                    </div>
                </div>
        </section>
        <section class="features-clean" style="background: var(--light);">
            <div class="container" style="background: var(--light);">
                <div class="intro">
                    <h2 class="text-center">Features</h2>
                    <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
                </div>
                <div class="row features">
                    <div class="col-sm-6 col-lg-4 item"><i class="fa fa-map-marker icon"></i>
                        <h3 class="name">Works everywhere</h3>
                        <p class="description">Works accross all devices with a compatable modern browser.</p>
                    </div>
                    <div class="col-sm-6 col-lg-4 item"><i class="fa fa-clock-o icon"></i>
                        <h3 class="name">Always available</h3>
                        <p class="description">Spitfire is ready to access whenever. When you are ready to work, spitfire is ready to work.</p>
                    </div>
                    <div class="col-sm-6 col-lg-4 item"><i class="fa fa-list-alt icon"></i>
                        <h3 class="name">Simplistic Design</h3>
                        <p class="description">Spitfire is designed so that anyone can use it, regardless of technical expertise.</p>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer-basic" style="background: var(--light);">
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="{{ url_for('base.home') }}">Home</a></li>
                <li class="list-inline-item"><a href="{{ url_for('base.about') }}">About</a></li>
                <li class="list-inline-item"><a href="{{ url_for('base.TsandCs') }}">Terms</a></li>
                <li class="list-inline-item"><a href="{{ url_for('base.PrivPol') }}">Privacy Policy</a></li>
            </ul>
            <p class="copyright">Spitfire App&nbsp;</p>
        </footer>
    </header>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
</body>
{% endblock content %}
