{% extends "base3.html" %}
{% block content %}
  <div class="">
      <form action="" method="POST">
          {{ form.hidden_tag() }}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Join Group</legend>
              <div class="form-group">
                {{ form.group_id.label(class="form-control-label") }}
                {% if form.group_id.errors %}
                  {{ form.group_id(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.group_id.errors %}
                          <span>{{ error }}</span>
                      {% endfor %}
                  </div>
                {% else %}
                  {{ form.group_id(class="form-control form-control-lg") }}
                {% endif %}
              </div>
          </fieldset>
          <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
          </div>
      </form>
  </div>
  <div class="border-top pt-3">
      <small class="text-muted">
        <a class="ml-2" href="{{ url_for('users.account') }}">Need to make a group?</a>
      </small>
  </div>
{% endblock content %}
