{% extends "base3.html" %}
{% block content %}
    <article class="media">
      <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_images/' + task.author.image_file) }}">
      <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="">{{ task.author.username }}</a>
            <small class="text-muted">{{ task.date_posted.strftime('%d-%m-%Y') }}</small>
            {% if task.author == current_user %}
              <div class="#">
                <button type="button" class="btn btn-outline-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
                <a class="btn btn-outline-primary btn-sm mt-1 mb-1" href="{{ url_for('dash.task_markasuncomplete', task_id=task.id, group_id=current_user.group_id) }}">Mark as Uncomplete</a>
              </div>
            {% endif %}
        </div>
        <h2 class="article-title">{{ task.title }}</h2>
        <p class="article-content">{{ task.content }}</p>
      </div>
    </article>
    <article class="media">
      {% for comments in comments.items %}
      <div class="media-body">
        <div class="article-metadata">
            <label for="form-control-label form-control-lg">Latest Comment</label>
        </div>
        <a class="mr-2" href="">{{ comments.author.username }}</a>
        <p class="">{{ comments.content }}</p>
        {% endfor %}
        <a class="btn btn-outline-info" href="{{ url_for('dash.comments', task_id=task.id, group_id=current_user.group_id) }}">All Comments</a>
        <a class="btn btn-outline-info" href="{{ url_for('dash.viewfiles', task_id=task.id, group_id=current_user.group_id) }}">Manage Attched Files</a>
    </article>
      <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
            </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <form class="" action="{{ url_for('dash.delete_task', task_id=task.id, group_id=current_user.group_id) }}" method="POST">
              <input class="btn btn-danger" type="submit" value="Delete">
            </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
